* {
    font-family: 'Helvetica', 'sans-serif';
}

body {
    margin: auto;
    width: 75%
}

header {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

#head-title h1, h2 {
    margin: 20px 0 0 0;
}

#mode-btn {
    margin: auto 0 0 0;
}

#welcome-message {
    text-align: center;
}

#project-header {
    text-align: center;
    padding: 1rem;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

#cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.card-link {
    color: black;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    width: 20%;
    text-align: center;
}
