* {
    font-family: 'Helvetica', 'sans-serif';
}

body {
    margin: auto;
    width: 75%
}

header {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

#head-title h1, h2 {
    margin: 20px 0 0 0;
}

#mode-btn {
    margin: auto 0 0 0;
}

#welcome-message {
    text-align: center;
}

#project-header {
    text-align: center;
    padding: 1rem;
}

.light-mode {
    background-color: whitesmoke;
    color: black;
}

.dark-mode {
    background-color: black;
    color: whitesmoke;
}

#cards {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    padding-bottom: 30px;
}

.card-link {
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    width: fit-content;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #cards {
        flex-wrap: wrap;
    }
}











